################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/README.md.bak
*.tlog
*.obj
*.idb
*.log
*.ilk
*.pdb
/Debug/ThreadPool-master.exe
/ThreadPool-master.VC.db
*.opendb
